

    body{
        background-color: whitesmoke;
        font-size: 14px;
        display: flex;
        
        font-family: 'Poppins', sans-serif;
    }
    #container{
        width: 960px;
        margin: 0 auto;
    }
    .col-1{
        width: 400px;
        float: left;
    }
    .col-2{
        width: 450px;
        float: right;
        
    }
    .copyright{
        padding-top: 1.2em;
    }
    @media  screen(max-width 450px) {
        div{
          display:block;
        }
        
       #container {
            width: 960px;
            margin: 0 auto;
        }
        body{
            font-size: 14px;
            
            font-family: 'Poppins', sans-serif;
        }
        .p{
            display: flex;
            float: right;
        }
        
    }

    